# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=mongodb+srv://<username>:<password>@<cluster>.ylvsg.mongodb.net/<databasePath>
APOLLO_CLIENT_URL=http://localhost:3000/api/graphql
APPLICATION_NAME=<applicationName>
APPLICATION_DESCRIPTION=<appicationDescription>

FIREBASE_API_KEY=example
FIREBASE_AUTH_DOMAIN=example
FIREBASE_PROJECT_ID=example
FIREBASE_STORAGE_BUCKET=example
FIREBASE_MESSAGING_SENDER_ID=example
FIREBASE_APP_ID=example
FIREBASE_MEASUREMENT_ID=example